server:
  port: 8082
#  优雅停机，spring注册了shutdown-hook，例如 controller请求，会等待请求结束后再停机。
  shutdown: graceful

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/testdb?serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: always
  main:
#    spring自带的shutdown-hook 例如bean销毁
    register-shutdown-hook: true

mybatis-plus:
  # mapper.xml文件所在路径，多个路径用逗号隔开
  mapper-locations: classpath*:/mapper/**/*.xml
  # 实体类所在包路径
  typeAliasesPackage: com.ll.demo.entity
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

# pageHelper
pagehelper:
  helperDialect: mysql